$primary-color: #FFE6F7;
$primary-text-color: #FFE6F7;
$font-stack: 'Roboto', sans-serif;
$secondary-color:#937DC2;

@mixin flexCenter($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content:$content;
    align-items:$align;
}

@mixin buttonStyle{
    button{
        background:none;
        border-style: none;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: #644A7F;
    font-family: $font-stack;
}

nav{
    color: $primary-text-color;
    width: auto;
    /*height: 100px;*/
    //display: flex;       //justify-content: space-between;
    @include flexCenter(row,space-between,center);
    padding: 15px;

    p{
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display:flex;
        gap:15px; 
        @include buttonStyle;
    }
}

/*main{
    background-color: rgb(128, 0, 85);

}*/

article{
    color:$primary-text-color;
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    @include flexCenter(row,space-between,center);
    //display: flex;    justify-content: space-between;
    .me-section{
        /*width:50%;*/
       /* background-color: rgb(128, 0, 85);*/
       display: flex;
       flex-direction: column;
       column-gap: 15px;
       padding-top: 50px;
       gap: 25px;        
    }
    h1{
        font-size: 2em;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: 1em;
    }
    @include buttonStyle;
    button{
        background: none;
        border-style: none;
        width: 12vw; /*responsivo*/
        padding: 20px;
        background-color: #cc85e2;
        font-family: $font-stack;
        border-radius: 35px;
        color:white;
        font-size: 1em;

    }
    .image-section{
        /*width: 50%;*/
        /*background-color: blue;*/
        img{
            width: 25vw;  /*responsivo*/
            border-radius: 19px;

            
        }
    }
}

section{
    width: auto;
    height: auto;
    padding: 60px;
    h2{
        color: #cc85e2;
        font-size: 2em;
    }
    .tech{
        padding-bottom: 30px;
        h2{
           font-weight: 300; 
            padding-bottom: 30px;
        }
        .card-section{
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items:center;
            column-gap: 35px;
            row-gap: 40px;
        }
        .course-card{
                width: 25vw; /*14vw;*/
                height: 55vh; /*antes 45v*/
                background-color: $secondary-color; /*#C689C6;*/
                color: $primary-text-color;
                padding: 18px;
                border-radius: 8px;
                .icon{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 12px;
                    svg{
                        width: 28px;
                        height: 28px;                        
                    }
                }
            .course-image{
                width: 100%;
                height: auto;
                display:flex;
                justify-content: center;
                align-items:center;
                img{
                    width: 26vw; /*12vw;*/
                    height: 40vh;  /*quizas mover*/
                    /*background-image:cover;*/
                    object-fit:cover;
                    border-radius: 6px;
        
                    }
                }
               
    
            }
        }

    
    
 
        .english{
            @extend .tech;
            .course-card{
                background-color: #cc85e2;
            }
        }

}



.footer{
    background-color: #C689C6;
    width: 100%;
    height: 200px;
}

