body {
  margin: 0;
  padding: 0;
  background-color: #644A7F;
  font-family: "Roboto", sans-serif;
}

nav {
  color: #FFE6F7;
  width: auto;
  /*height: 100px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

/*main{
    background-color: rgb(128, 0, 85);

}*/
article {
  color: #FFE6F7;
  width: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article .me-section {
  /*width:50%;*/
  /* background-color: rgb(128, 0, 85);*/
  display: flex;
  flex-direction: column;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  background: none;
  border-style: none;
  width: 12vw; /*responsivo*/
  padding: 20px;
  background-color: #cc85e2;
  font-family: "Roboto", sans-serif;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article .image-section {
  /*width: 50%;*/
  /*background-color: blue;*/
}
article .image-section img {
  width: 25vw; /*responsivo*/
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #cc85e2;
  font-size: 2em;
}
section .tech, section .english {
  padding-bottom: 30px;
}
section .tech h2, section .english h2 {
  font-weight: 300;
  padding-bottom: 30px;
}
section .tech .card-section, section .english .card-section {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 40px;
}
section .tech .course-card, section .english .course-card {
  width: 25vw; /*14vw;*/
  height: 55vh; /*antes 45v*/
  background-color: #937DC2; /*#C689C6;*/
  color: #FFE6F7;
  padding: 18px;
  border-radius: 8px;
}
section .tech .course-card .icon, section .english .course-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .tech .course-card .icon svg, section .english .course-card .icon svg {
  width: 28px;
  height: 28px;
}
section .tech .course-card .course-image, section .english .course-card .course-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .tech .course-card .course-image img, section .english .course-card .course-image img {
  width: 26vw; /*12vw;*/
  height: 40vh; /*quizas mover*/
  /*background-image:cover;*/
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .english .course-card {
  background-color: #cc85e2;
}

.footer {
  background-color: #C689C6;
  width: 100%;
  height: 200px;
}/*# sourceMappingURL=main.css.map */