$primary-color: #e397fa;
$primary-text-color: #e397fa;
$font-stack: 'Roboto', sans-serif;


body{
    margin: 0;
    padding: 0;
    background-color: purple;
    font-family: $font-stack;
}

nav{
    color: $primary-text-color;
    width: auto;
    /*height: 100px;*/
    display: flex;
    justify-content: space-between;
    padding: 15px;

    p{
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display:flex;
        gap:15px; 
        button{
            background:none;
            border-style: none;
        }
    }
}

/*main{
    background-color: rgb(128, 0, 85);

}*/

article{
    color:$primary-text-color;
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    .me-section{
        /*width:50%;*/
       /* background-color: rgb(128, 0, 85);*/
       display: flex;
       flex-direction: column;
       column-gap: 15px;
       padding-top: 50px;
       gap: 25px;        
    }
    h1{
        font-size: 2em;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: 1em;
    }
   
    button{
        background: none;
        border-style: none;
        width: 12vw; /*responsivo*/
        padding: 20px;
        background-color: #cc85e2;
        font-family: $font-stack;
        border-radius: 35px;
        color:white;
        font-size: 1em;

    }
    .image-section{
        /*width: 50%;*/
        /*background-color: blue;*/
        img{
            width: 25vw;  /*responsivo*/
            border-radius: 19px;

            
        }
    }
}

section{
    width: auto;
    height: auto;
    /*background-color: pink;*/
    padding: 60px;
    h2{
        color: #cc85e2;
        font-size: 2em;
    }
    .tech{
        h2{
           font-weight: 300; 
            padding-bottom: 60px;
        }
        .card-section{
            display: flex;
            width: auto;
            height: auto;
            

        .course-card{
                width: 14vw;
                height: 45vh;
                background-color: pink;
                color: $primary-text-color;
                padding: 20px;
                border-radius: 8px;
                .icon{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 12px;
                    svg{
                        width: 28px;
                        height: 28px;
                        stroke: #e397fa;
                        stroke-width: "2";
                        
                    }
                }
                .course-image{
                    width: 100%;
                    height: auto;
                    display:flex;
                    justify-content: center;
                    align-items:center;
                    img{
                        width: 12vw;
                        height: 30vh;  /*quizas mover*/
                        /*background-image:cover;*/
                        object-fit:cover;
                        border-radius: 6px;
        
                    }
                }
               
    
            }
        }
       
    }
}



.footer{
    background-color: #cc85e2;
    width: 100%;
    height: 200px;
}

